<body>
  <div style="margin:auto">
    <p>Grupo <%= groupName %> Creado </p>
    <br>
    <p>Puede ver los detalles a través de la pagina web <a href="https://pandicamproject.com/#/pandicam">https://pandicamproject.com</a>
  </div>
</body>
