<html>
    <head>
        <img src="cid:head" width="100%">
    </head>

    <body>
        <br>
        <font face="verdana" color=#2F2482 size=2px>
        <br>
        ¡Hola <b><%=user.username%></b>!
        <br>
        <br>

        Acabas de crear el grupo de Pandicam <b><%=group.groupName%></b>.
        <br>
        <br>
        <img src="cid:qr" alt="qr">

        
        Puedes ver los detalles a través de la pagina web 
        <a href="https://pandicamproject.com">https://pandicamproject.com</a>
        <br>
        <br>

        ¡Esperamos que disfrutes de tu experiencia con Pandicam!
        </font>
        <br>
        <br>
        <font face="verdana" color=#2F2482 size=2px>
    ________________________________________________________________

        <br>

        Cordialmente:

        <br>

        <br>

        El equipo de desarrollo de PandicamProject

        <br>

        <br>

        <img src="cid:foot" width="100%">

    </body>

  </html>
