<div>
  <p>Hola <%= usuario %>, Gracias por registrarte en pandicamProject.</p>
  <p> Puede acceder tambien a las funciones de la aplicación usando nuestra pagina web
    <a href="https://pandicamproject.com">https://pandicamproject.com</a>
  </p>
</div>
