<body>
  <div>
    <img src=https://pandicamproject.com/qr/'+req.body.id+'.png/> <br>
    <strong>Si no puedes ver la imagen en el correo intenta accediendo a
      <a href=https://pandicamproject.com/qr/'+req.body.id+'.png>https://pandicamproject.com/qr/ <%=req.body.id %>.png</a>
    </strong>
  </div>
</body>
